* {
    max-width: 100vw;
}

body{
    max-width: 100vw;
    border: 1vh solid black;
    background-color: azure;
    background-image: url(./chicago_skyline_skyscraper.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    background-position-y: 65%;
    color: white;
}

nav {
    border: 1vh solid green;
    max-width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .75)
}

main{
    max-width: 100vw;
    border: 1vh solid green;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div {
    border: 1vh solid blue;
    height: 30vh;
    width: 25vw;
    display: flex;
    justify-content: space-around;
    margin: 4vh;
    background-color: rgba(0, 0, 0, .75)
    
}

.header {
    width: 86vw;
    display:flex;
    justify-content: center;
    align-items: center;
}